# Assign file content and end-of-line type
*.txt text
*.bat text eol=crlf
*.sh  text eol=lf

# Github Release zip file contents
.github/**/* export-ignore
docs/**/project-history export-ignore
scripts/**/* export-ignore