matplotlib==3.10.1; python_version <= '3.13'
matplotlib==3.10.8; python_version >= '3.14'
numpy==1.26.4; python_version <= '3.12'
numpy==2.2.3; python_version == '3.13'
numpy==2.4.2; python_version >= '3.14'
pillow==12.1.1; python_version >= '3.14'
pillow==11.1.0; python_version <= '3.13'
easyocr==1.7.2
markdown==3.8
pyautogui==0.9.54
pynput==1.7.8
pyperclip==1.9.0
pywin32==311; sys_platform == 'win32'
mss==10.1.0
tkinterweb==4.3.1
tkinterweb-tkhtml==1.0