# For checking if files are modified:
# https://www.meziantou.net/executing-github-actions-jobs-or-steps-only-when-specific-files-change.htm

name: Update Plans.md

on:
  push:
    branches:
      - dev
    paths:
      - 'btd6bot/plans/**.py'
      - '!btd6bot/plans/_plan_imports.py'
      - '!btd6bot/plans/__init__.py.py'

jobs:
  update-plans:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout dev repository
        uses: actions/checkout@v4
        with:
          ref: dev
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.x
      - name: Update Plans.md
        run: |
          python scripts/update_plans.py
      - name: Check if Plans.md was modified
        shell: pwsh
        id: check_plans
        run: |
          $readmebefore = Get-Content .\Plans.md -Raw

          python scripts/update_plans.py

          $readmenow = Get-Content .\Plans.md -Raw
          $hasdiff = $readmebefore -ne $readmenow

          Write-Host "plans_changed=$HasDiff" >> $env:GITHUB_OUTPUT
      - name: commit and push if Plans.md was modified
        shell: pwsh
        if: steps.check_plans.outputs.plans_changed == 'True'
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"
          git add Plans.md
          git commit -m "Updated plan list"
          git push
